@charset "utf-8";
/* base */
@import "tobe/base";
body{
  background-color: #F8F8F8;
}

/* ios8 以上系统使用0.5px 解决1像素问题 */
.ios-gt-8{
  .hairline{
    border-width: 0.5px !important;
  }
}

/* 全屏空白div */
.ant-transparent{
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

/* flex 很重要 必须 ********** */
%display-flex {
  @include display(flex);
}
.flex{
  @extend %display-flex;
}
.flex-c-m{
  @extend %display-flex;
  @include align-items(center);
  @include justify-content(center);
}
.flex-m{
  @extend %display-flex;
  @include align-items(center);
}
.flex-c{
  @extend %display-flex;
  @include justify-content(center);
}
.flex-space{
  @extend %display-flex;
  @include justify-content(space-between);
}
/* END */

.content {
  position: relative;
  padding-top: rem(88);
}

// preloader

%preloader {
  width: 20px;
  height: 20px;
  display: inline-block;
  &.middle{
    width: 30px;
    height: 30px;
  }
  &.big{
    width: 45px;
    height: 45px;
  }
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-animation: preloader-spin 1s steps(12, end) infinite;
  animation: preloader-spin 1s steps(12, end) infinite;
  &:after {
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><defs><line id='l' x1='60' x2='60' y1='7' y2='27' stroke='#6c6c6c' stroke-width='11' stroke-linecap='round'/></defs><g><use xlink:href='#l' opacity='.27'/><use xlink:href='#l' opacity='.27' transform='rotate(30 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(60 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(90 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(120 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(150 60,60)'/><use xlink:href='#l' opacity='.37' transform='rotate(180 60,60)'/><use xlink:href='#l' opacity='.46' transform='rotate(210 60,60)'/><use xlink:href='#l' opacity='.56' transform='rotate(240 60,60)'/><use xlink:href='#l' opacity='.66' transform='rotate(270 60,60)'/><use xlink:href='#l' opacity='.75' transform='rotate(300 60,60)'/><use xlink:href='#l' opacity='.85' transform='rotate(330 60,60)'/></g></svg>");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
  }
  &.white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><defs><line id='l' x1='60' x2='60' y1='7' y2='27' stroke='#fff' stroke-width='11' stroke-linecap='round'/></defs><g><use xlink:href='#l' opacity='.27'/><use xlink:href='#l' opacity='.27' transform='rotate(30 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(60 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(90 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(120 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(150 60,60)'/><use xlink:href='#l' opacity='.37' transform='rotate(180 60,60)'/><use xlink:href='#l' opacity='.46' transform='rotate(210 60,60)'/><use xlink:href='#l' opacity='.56' transform='rotate(240 60,60)'/><use xlink:href='#l' opacity='.66' transform='rotate(270 60,60)'/><use xlink:href='#l' opacity='.75' transform='rotate(300 60,60)'/><use xlink:href='#l' opacity='.85' transform='rotate(330 60,60)'/></g></svg>");
  }
}

.preloader,.infinite-preloader {
  @extend %preloader;
}

@-webkit-keyframes preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* ovfs-scroll 一行滑动 */
.ovfs{
  white-space: nowrap;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: #ffffff;
  &.hide-scrollbar::-webkit-scrollbar{
    width: 0;
    height: 0;
    display: none;
  }
  .ovfs-item{
    display: inline-block;
    position: relative;
    width: auto;
    vertical-align: top;
  }
}

/* 返回顶部 */
.gotop{
  @extend %gotop;
}
