// msg
.msg{
  padding: 0 rem(30);
  margin:rem(18) 0;
  display: inline-block;
  .msg-successful{
  	width: rem(180);
  	height: rem(180);
  	margin:0 auto;
  	margin-bottom: rem(60);
  }
  .msg-operation{
  	font-size: rem(60);
  	color: #222222;
  	line-height: rem(60);
  	text-align: center;
  	padding-bottom: rem(30);
  }
  .msg-details{
  	font-size: rem(28);
  	color: #999999;
  	line-height: rem(40);
  	padding:0 rem(8);
  	text-align: center;
  }
  .msg-button {
      width: 100%;
      float: left;
      display: inline;
      margin-top: rem(60);
        button.msg-btn-1 {
          width: 100%;
          float: left;
          display: inline;
          height: rem(88);
          line-height: rem(88);
          background: #263238;
          color: #fff;
          font-size: rem(36);
          text-align: center;
          border-radius: rem(4);
          border: 0;
      }
        button.msg-btn-2 {
          width: 100%;
          float: left;
          display: inline;
          height: rem(88);
          line-height: rem(88);
          background: #fff;
          color: #263238;
          font-size: rem(36);
          text-align: center;
          border-radius: rem(4);
          border: 1px solid #aaa;
          margin-top: rem(30);
      }
  }
}
